# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/rtcoibbi/public_html/tutorial002/server"
PassengerBaseURI "/api"
PassengerBaseURI "/socket.io"
PassengerNodejs "/home/rtcoibbi/nodevenv/public_html/tutorial002/server/14/bin/node"
PassengerAppType node
PassengerStartupFile dist/index.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
SetEnv DB_HOST localhost
SetEnv DB_NAME rtcoibbi_taskapp
SetEnv DB_PASSWORD Og!tZS1x@oOE
SetEnv DB_USER rtcoibbi_taskuser
SetEnv JWT_SECRET eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOjEyMywiaWF0IjoxNzU2ODQwNDQwLCJleHAiOjE3NTY4NDQwNDB9.B7QASwN4PtjOQHxh7vneOGBnmm8PJO3yZzUkNEKCqp8
SetEnv NODE_ENV production
SetEnv CORS_ORIGIN https://whitetaskmanager.netlify.app
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END

# BEGIN CORS AND PROXY RULES
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{REQUEST_METHOD} OPTIONS
  RewriteRule ^(.*)$ $1 [L]
</IfModule>
# END CORS AND PROXY RULES
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END